@import url('https://fonts.googleapis.com/css2?family=Rye&display=swap');

/*font-family: 'Rye', cursive;*/

body {
    background: linear-gradient(180deg, #C70100 0%, #F54A02 78.82%, #C70100 100%);
    font-family: 'Rye', cursive;
}

header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.imgBanner {
    width: 98vw;
    height: auto;
}

h1 {
    position: absolute;
    font-size: 5.2vw;
    top: 25%;
}

.ctFichas {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    width: 100vw;
    height: 70vh;
    overflow: scroll;
    position:relative;
}

.ctFichasBig {
    position: relative;
    
}

.ctCoders {
    display: flex;
    width: 15vw;
    height: auto;
    position: relative;
    justify-content: center;
    margin: 1% 1% 25% 1%;
}

.ctCodersSelected {
    position: absolute;
    display: flex;
    z-index: 2;
    width: 97%;
    height: 97%;
    margin: 0 ;
}



h2 {
    position: absolute;
    z-index: 1;
    font-size: 1.5vw;
    top: 0.5vh;
}

.deadName{
    position: absolute;
    top: 4%;
    z-index: 3;
    font-size: 3rem;
    animation: delay;
    animation-delay: 0s;
    animation-duration: 3s;
   
}

.barril {
    display: none;
}

.barrilActivated{
    position:absolute;
    display: block;
    width:75%;
    height:75%;
    z-index: 20;
    top: 20%;
    animation: fall;
    animation-delay: 0s;
    animation-duration: 5s;
    animation-timing-function: ease-in;
}

@keyframes fall {
    0%{
        top: -100%;
    }
    50%{
        top: -90%;
    }
    60%{
        top:19.9%;
    }
    100%{
        top: 20%;
    }
}
.telon{
    display: none;
    width: 95vw;
    height: auto;
    position: absolute;
    top: 0%;
    z-index: 1;
   
}

.telonClose {
    display:block;
    width: 95vw;
    height: auto;
    position: absolute;
    top: -120%;
    z-index: 30;
    animation: telon;
    animation-delay: 0s;
    animation-duration: 8s;
    animation-timing-function: ease-in;
    
}


@keyframes telon {
    0%{
        top: -220%;
    }
    50%{
        top: -210%;
    }
    60%{
        top:;
    }
    100%{
        top: 0%;
    }
}
/* 
.sangre{
    position:absolute;
    display: block;
    opacity: 1;
    width:75%;
    height:75%;
    z-index: 3;
    top: 50%;
    transform: rotate(250deg);
    animation: blood ;
    animation-delay: 0s;
    animation-duration: 4s;

}

@keyframes blood {
    0%{
        opacity: 0;
    }

    88%{
        opacity: 0;
    }
    90%{
        opacity: 1;
    }
    100%{
        opacity: 1;
    }
} */
 
.freakCoder {
    position: absolute;
    width: 75%;
    height: auto;
    top: 5vw;
    z-index: 1;
}

.freakCoderBig {
    position: absolute;
    z-index: 11;
    align-items: center;
    width: 70vw;
    height: auto;
    top: 25%;
}

.stage {
    position: absolute;
    width: 15vw;
    height: auto;
}

.stageBig {
    display:flex;
    flex-wrap:wrap;
    flex-direction: row;
    justify-content: center;
    width: 95vw;
    height: auto;
    position: absolute;
    z-index: 1;
}

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bt {
    width: 350px;
    height: 50px;
    background: #EFCD26;
    box-shadow: 0px 0px 10px #000000;
    border: none;
    border-radius: 20px;
    font-family: 'Rye', cursive;
    font-size: 1.7rem;
    margin: 3%;
    position: relative;
    
}
